body{
    margin: 0;
    color: #333333;
    --header-font: "Helvetica";
    --text-font: "Akaya Kanadaka";
    font-family: var(--text-font);
}
#wrapper{
    background-color: #fafafa;
}

.flex-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Header */
#header{
    color: white;
    background-color: #19334d;
    font-family: var(--text-font);
    height: 50px;
    z-index: 2;
    position: sticky;
    top: 0px;
}
#end-hunger{
    margin-left: 20px;
    font-family: var(--header-font);
    font-size: 25px;
    font-weight: 900;
    letter-spacing: -1px;
}
#end-hunger img{
    width: 50px;
    height: 50px;
}
#end-hunger p{
    margin: 0px
}
#navigation a{
    color:white;
    margin: 0px 10px;
}
#navigation a:hover{
    color: #ff4000;
}
#donate{
    font-family: var(--header-font);
    font-size: 25px;
    color: black;
    background-color: #ffcc00;
    height: 100%;
}
#donate p{
    margin-left: 20px;
    margin-right: 20px;
    letter-spacing: -1px;
    font-weight: 900;
}

/* Cover */
#cover{
    position: relative;
    height: 600px;
    background: 
    linear-gradient(
      rgba(0, 0, 0, 0.7), 
      rgba(0, 0, 0, 0.7)
    ),
    url(../slike/cover4.jpg);
    background-size: cover;
    background-attachment: fixed;
}
#cover-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 40vh;
}
#cover-text h1{
    color: white;
    margin: 8px 0;
    width: auto;
    font-family: var(--header-font);
    font-weight: 900;
    font-size: 54px;
}
#cover-text p{
    color:#ffcc00;
    font-family: var(--text-font);

}

/* Events */
#events{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #19334d;
}
#events h2{
    margin: 50px auto 40px auto;
    text-transform: uppercase;
    font-family: var(--header-font);
    font-weight: 900;
}
#card-wrapper{
    justify-content: space-around;
    margin: 0px auto;
}
.card{
    width: 300px;
    margin: 0px 20px;
    padding: 10px;
    border: 3px;
    border-style: solid;
    border-color: #fafafa;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card:hover{
    border: #bfbfbf;
    border-width: 3px;
    border-style: solid;
}
.card img{
    width: 200px;
    height: 200px;
}
.card h3{
    margin: 30px 20px 10px 20px;
    font-family: var(--header-font);
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 0px;
    text-align: center;
}
.card .date-location{
    width: 180px;
    justify-content: space-around;
}

.card .button{
    height: 40px;
    width: 150px;
    font-size: 16px;
    font-weight: 600;
    margin: 8px auto;
    padding: 8px 0px;
    border: 2px solid transparent;
    border-radius: 22px;
    background-color: #19334d;
    color: white;
}

/* Family */
#family{
    position: relative;
    height: 200px;
    margin: 20px;
    background: 
    linear-gradient(
      rgba(255, 0, 0, 0.7), 
      rgba(255, 0, 0, 0.7)
    ),
    url(../slike/family-bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    justify-content: center;
}

#family p{
    font-family: var(--header-font);
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: auto;
    color: white;
}
#family button{
    text-transform: uppercase;
    font-weight: 700;
    font-family: var(--header-font);
    font-size: 24px;
    letter-spacing: -1px;
    margin: auto;
    color: red;
    height: 60px;
    width: 250px;
    border-radius: 32px;
    border-style: none;
}

#news{
    margin-top: 80px;
}
#news h2{
    text-align: center;
    width: auto;
    margin: 50px auto 40px auto;
    font-family: var(--header-font);
    font-weight: 900;
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: -1px;
}
#news-card-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}